@model EmployeeLeaveManagment.Web.Models.ViewModels.LeaveTypeVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>LeaveType</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <partial name="_CreateEdit" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
